*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style  */
.font-open-sans{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
/* main style */
header{
    background-color: rgba(255, 248, 243, 1);
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1600px;
    /* border: 1px solid gray; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logo h2{
    font-size: 45px;
}

